<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043900170744-jab39lq7kinqvop1128qv22l40nr0279.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043900170744-jab39lq7kinqvop1128qv22l40nr0279</string>
	<key>API_KEY</key>
	<string>AIzaSyDtzKISczwNgcF5WN9lBk-BJV5KGHjGhxg</string>
	<key>GCM_SENDER_ID</key>
	<string>1043900170744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lyricsfirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-lyrix</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lyrix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043900170744:ios:71ab19a46cfb65eb9dd60d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-lyrix.firebaseio.com</string>
</dict>
</plist>